@import url('https://fonts.googleapis.com/css?family=Allura|Arima+Madurai|Arizonia|Bubbler+One|Calligraffitti|Italianno|Life+Savers|Martel+Sans:200|Marvel|Poiret+One|Quicksand|Text+Me+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    width: 100%;
    padding-bottom: 20px;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: lightblue;
    height: 50px;
    font-family: 'Calligraffitti', cursive;
    /*font-weight: bold;*/
    text-decoration: none;
    /*text-transform: uppercase; Would look good with another type of font*/
}

nav a:hover {
    background: blue;
    color: #fff;
}

nav ul {
    list-style: none;
    /*NECESSARY*/
    display: flex;
}

nav ul li {
    position: relative;
    /*Necessary so it doesn't turn too wide and stays under ul*/
    width: 100%;
    text-align: center;
}

nav li:hover .drop1>li {
    top: 0;
    display: block;
}

/*makes it drop*/

.drop1 li {
    display: none;
    position: relative;
}

/*VERY NECESSARY. hides it*/

.drop1 {
    position: absolute;
    /*NECESSARY, or it will push all stuff underneath it upon hover*/
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*SO satisfiying after you nav FINALLY works perfectly!*/

/*and then you remember you were going to make it fixed...*/

.topdividers {
    height: 50px;
    width: 100%;
}

/*HEADER*/

header {
    background: url(https://raw.githubusercontent.com/GiselleMartinez006/FSW-100-assignments/master/assignments/Inprogress/week6/Complete%20Project%203%20Create%20a%20Responsive%20Website/img/agujasblanco_canva_stretched.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 5% 0;
    /*font-family: 'Italianno', cursive;*/
    font-family: 'Allura', cursive;
    /*font-family: 'Arizonia', cursive;
font-family: 'Calligraffitti', cursive;*/
}

.welcomesection {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 5vw 300px;
}

#TopHeading {
    margin-left: -20vw;
    grid-column: span 3;
    font-size: 100px;
    text-align: center;
    color: Blue;
    text-shadow: 5px -1px 2px rgba(0, 170, 0, 0.73);
}

.welcomesection figure img {
    grid-column: span 2;
    width: 250px;
    height: auto;
}

.welcomequote {
    color: blue;
    font-size: 35px;
    width: 25vw;
    text-align: center;
    height: auto;
    grid-column: span 1;
    margin: 10vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

/*welcome header over*/

/*ARTICLE*/

article {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(224, 254, 254, 1) 22%, rgba(167, 252, 252, 1) 42%, rgba(33, 215, 215, 1) 76%, rgba(111, 228, 233, 1) 100%);
    display: grid;
    grid-template-columns: 75% 20%;
    grid-gap: 1vw;
    justify-items: left;
    z-index: 0;
}

.treatments {
    margin: auto;
    width: 80%;
    grid-row: span 1;
    grid-column: span 1;
}

#wrapper {
    float: left;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    grid-row: span 1;
    grid-column: span 1;
    flex-wrap: wrap;
}

/*#acupunctureheading {
    flex-grow: 20px;
}

#moxibustionheading {
    flex-shrink: 10px;
}

#cuppingheading {
    flex-shrink: 20px;
}*/

#treatmentheading, summary {
    font-family: 'Martel Sans', sans-serif;
    font-size: 2.5vw;
}

summary {
    font-size: 1.5vw;
}

.semi-headingdescriptions, .treatments p {
    font-size: 2em;
    font-family: 'Life Savers', cursive;
}

.treatments p {
    font-size: 1.5em;
}

#wrapper2{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}

#shiatsuheading, #tuinaheading, #swedishheading {
    font-size: 1em;
    font-family: 'Martel Sans', sans-serif;
}
/*ASIDE HERE*/

aside {
    padding: 5% 0;
    padding-top: 10%;
    background: rgb(6, 226, 171);
    font-family: 'Arima Madurai', cursive;
    text-align: center;
}

.table {
    padding-left: 15%;
}

/*FOOTER HERE*/

footer {
    margin: auto;
    clear: both;
    background: linear-gradient(180deg, rgba(111, 228, 233, 1) 0%, rgba(33, 215, 215, 1) 11%, rgba(30, 227, 117, 1) 59%, rgba(92, 249, 67, 1) 100%);
}

footer h1 {
    color: blue;
    font-size: 40px;
    margin-bottom: 18px;
    text-decoration: underline;
    font-family: Lobster;
}

.contact-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    background: url(https://github.com/GiselleMartinez006/PublishingAcu_Mockup/blob/master/Week6/img/Backgroundblue.jpg?raw=true);
    padding: 80px 0;
    background-size: cover;
    position: relative;
    z-index: 0;
}

/*darkcover

.contact:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
}*/

.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}

.contact-items a {
    background: blue;
    color: white;
    display: block;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
}

/*MEDIA Queries HERE*/